body
{
    background-image: url('Img/2.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}






 .mapDiv{
  position: absolute;
  top: 0px;
  width: 100%;
  height: 200px;
  left: 0px;
  background: transparent;
  border-radius: 20px;
 }
 
 .map{
    position: relative;
    width: 100%;
    height: 186%;  
    border-radius: 20px;
 }
  
 
  


ul {
  list-style: none;
  padding: 0;
}
.card {
  width: 100%;
  height: 100%;
  background: transparent;
  position: relative;
  border-radius: 12px;
}
.card .card-image {
  visibility: hidden;
  position: relative;
  height: 54%;
  width: 45%;
  display: block;
  margin: auto;
  color: #c8c8c8;
  filter: drop-shadow(0 0 5px #111111);
}

.card .card-info {
  height: 100%;
  border-radius: 12px 12px 0 0;
  width: 100%;
  color: #fff;
  display: flex;
  background: linear-gradient(#4f4f4f64, transparent);
}
.card .card-info {
  font-size: 0.8rem;
  max-height: 120px;
}
.card .card-info .left-info,
.card .card-info .right-info {
  flex: 1;
  padding: 16px;
}
.card .card-info .left-info .product-title {
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.4px;
  font-weight: bold;
  margin-bottom: 18px;
  display: block;
  font-family: 'Righteous', cursive;
}
.card .card-info p {
  font-size: 10px;
  margin-top: 12px;
  line-height: 1.2;
  letter-spacing: 0.3px;
  font-weight: normal;
}
.card .card-info .left-info .star-rating {
  display: flex;
  margin-top: 20px;
}
.card .card-info .left-info .star-rating span {
  display: block;
  width: 16px;
  color: rgb(242, 99, 255);
}
.card .card-info .right-info {
  margin: 0;
  position: relative;
}
.card .card-info .right-info::before {
  position: absolute;
  content: "";
  width: 2px;
  height: calc(100% - 20px);
  background: #df29ff;
  left: -5px;
}

.card .card-info .right-info ul {
  margin: 0;
  list-style: none;
}
.card .card-info .right-info ul li {
  padding: 0;
  font-size: 10px;
  margin: 10px 0;
  font-family: "Rajdhani", sans-serif;
}
.card .card-info .right-info ul li:first-child {
  margin-top: 0;
}
.card .card-info .right-info ul li p.feature-sub-title {
  font-size: 8px;
  margin-bottom: 5px;
  letter-spacing: 0.3px;
  line-height: 0.9;
  color: #e96dff;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Righteous', cursive;
}
.card .card-info .right-info ul li .feature-sub-title:first-child {
  margin-top: 0;
}


.card .card-price-tag {
  position: absolute;
  right: 12px;
  top: 0;
  color: #fff;
  font-size: 0.6rem;
  font-weight: 600;
  padding: 3px 10px;
  border-radius: 5px 5px 5px 5px;
  background: linear-gradient(#df29ff, #dc0ba5);
}
.card svg {
  position: absolute;
}
.card::before {
  position: absolute;
  content: "";
  height: 90px;
  width: 90px;
  border-radius: 50%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(245, 46, 255);
  filter: blur(25px);
  box-shadow: 0 0 70px 0 #f51cf1;
}
.card svg.ring-1 {
  top: 16px;
  left: 16px;
  rotate: 210deg;
  filter: blur(1px) brightness(0.7);
  transition: 1s ease-in-out;
}
.card svg.ring-2 {
  top: 40%;
  right: 0;
  rotate: 150deg;
  filter: brightness(0.5);
  transition: 0.8s ease-in-out;
}
.card svg.ring-3 {
  top: 40%;
  left: 5px;
  rotate: 270deg;
  filter: brightness(0.7);
  transition: 0.9s ease-in-out;
}

.card:hover svg.ring-1 {
  top: 6px;
  left: 20%;
  rotate: 230deg;
  scale: 1.25;
}
.card:hover svg.ring-2 {
  top: 45%;
  right: 15px;
  rotate: 210deg;
  filter: brightness(0.9);
  scale: 1.3;
}
.card:hover svg.ring-3 {
  top: 32%;
  left: 5%;
  rotate: 210deg;
  filter: brightness(1);
  scale: 1.3;
}

.card .add-to-cart-btn button:hover {
  background-position: 100% 100%;
}


.intel{
    font-family: "Rajdhani", sans-serif;
}





  .imageLay{
    background: #ffffff;
    width: 70px;
    background-size: cover;
    border-radius: 20px;
    padding: 1em;
    margin-top: 20px;
    box-shadow: 0 0 10px #00ee00;
    display: block;
  }
  
  .phoneImage{
     width: 70px;
     
  }


.alert{
    font-family: 'Righteous', cursive;
}

.download{
    border: none;
  position: relative;
  font-size: 7px;
  background: linear-gradient(
    45deg,
    transparent,
    #f532f1 40%,
    #f532f1,
    #a141fb 60%,
    transparent
  );
  padding: 10px 20px 10px 23px;
  color: #fff;
  font-weight: bold;
  background-size: 200%;
  background-position: 0% 0%;
  text-transform: uppercase;
  border-radius: 30px;
  transition: 0.4s ease-in-out;
  font-family: 'Righteous', cursive;
}











 
.loader {
  --size: 107px;
  --duration: 2s;
  --logo-color: grey;
  --background: linear-gradient(
    0deg,
    rgba(50, 50, 50, 0.2) 0%,
    rgba(100, 100, 100, 0.2) 100%
  );
  height: var(--size);
  aspect-ratio: 1;
  position: relative;
}

.loader .box {
  position: absolute;
  background: rgba(100, 100, 100, 0.15);
  background: var(--background);
  border-radius: 50%;
  border-top: 1px solid rgba(100, 100, 100, 1);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 10px -0px;
  backdrop-filter: blur(5px);
  animation: ripple var(--duration) infinite ease-in-out;
}

.loader .box:nth-child(1) {
  inset: 40%;
  z-index: 99;
}

.loader .box:nth-child(2) {
  inset: 30%;
  z-index: 98;
  border-color: rgba(100, 100, 100, 0.8);
  animation-delay: 0.2s;
}

.loader .box:nth-child(3) {
  inset: 20%;
  z-index: 97;
  border-color: rgba(100, 100, 100, 0.6);
  animation-delay: 0.4s;
}

.loader .box:nth-child(4) {
  inset: 10%;
  z-index: 96;
  border-color: rgba(100, 100, 100, 0.4);
  animation-delay: 0.6s;
}

.loader .box:nth-child(5) {
  inset: 0%;
  z-index: 95;
  border-color: rgba(100, 100, 100, 0.2);
  animation-delay: 0.8s;
}

.loader .logo {
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
  padding: 30%;
}

.loader .logo svg {
  fill: var(--logo-color);
  width: 100%;
  animation: color-change var(--duration) infinite ease-in-out;
}

@keyframes ripple {
  0% {
    transform: scale(1);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 10px -0px;
  }
  50% {
    transform: scale(1.3);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 30px 20px -0px;
  }
  100% {
    transform: scale(1);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 10px -0px;
  }
}

@keyframes color-change {
  0% {
    fill: var(--logo-color);
  }
  50% {
    fill: white;
  }
  100% {
    fill: var(--logo-color);
  }
}

















