body
{
    background-image: url('Img/2.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    text-align: center;
}

@font-face {
    font-family: "Good Times Rg";
    src: url("https://www.yudiz.com/codepen/artificial-intelligence/fonts/good_times/GoodTimesRg-Regular.eot");
    src: url("https://www.yudiz.com/codepen/artificial-intelligence/fonts/good_times/GoodTimesRg-Regular.eot?#iefix")
        format("embedded-opentype"),
      url("https://www.yudiz.com/codepen/artificial-intelligence/fonts/good_times/GoodTimesRg-Regular.woff2")
        format("woff2"),
      url("https://www.yudiz.com/codepen/artificial-intelligence/fonts/good_times/GoodTimesRg-Regular.woff")
        format("woff"),
      url("https://www.yudiz.com/codepen/artificial-intelligence/fonts/good_times/GoodTimesRg-Regular.ttf")
        format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }






#LoginLay{
   display: block;   
}
#MainLay{
   display: none;
}
#infoLay{
   display: none;   
}


.online{
   display: flex; 
}

.title{
   color: #ffffff; 
   font-size: 19px;
   padding-left: 10%;
   margin-top: 1%;
   font-family: "Rajdhani", sans-serif;
}
.avatar2{
    height: 38px;
    margin-left: 2%;
    margin-top: -2%;
}

.title2{
   color: #00b2ff;
   font-size: 15px;
   padding-left: 0%;
   margin-top: 1%;
   font-family: "Good Times Rg";
}



  
#map {
    position: relative;
    width: 350px;
    height: 200px;
    border-radius: 20px;
}
  






